@import 'base.less';

/* 主体区域 */
#main {
  .mui-scroll-wrapper {
    padding: .45rem 0;
    position: relative;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
}